<%- include('fragments/header.ejs') %>
    <main>
        <h2>Nowy klient</h2>
        <form class="form" novalidate onsubmit="return validateForm();">
            <label for="firstName">Imię:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków" />
            <span id="errorFirstName" class="errors-text"></span>

            <label for="lastName">Nazwisko:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków"  />
            <span id="errorLastName" class="errors-text"></span>


            <label for="email">Email:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="email" id="email" placeholder="np. nazwa@domena.pl" />
            <span id="errorEmail" class="errors-text"></span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input class="form-button-submit" type="submit" value="Dodaj" />
                <a class="form-button-cancel" href="/user">Anuluj</a>
            </div>  
        </form>
        
    </main>
<%- include('fragments/footer.ejs') %>