<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep internetowy</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<header>
    <h1>Sklep internetowy</h1>
    <img src="/images/logo.jpg" alt="Sklep internetowy Logo">
</header>
<nav class="form-buttons">
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/user">Klienci</a></li>
        <li><a href="/item">Przedmioty</a></li>
        <li><a href="/order">Zamowienia</a></li>
    </ul>
</nav>